/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .loginTitle{
    margin-top: 50px;
    margin-left: 50px;
  }

  .formInput{
    border-radius: 15px;
  }
  
  /* Set a style for all buttons */
  .loginBtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .loginLBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 5px;
    gap: 10px;
    border-width: 1;
    border-color: #000;
    border-style: solid;

    left: 5px;
    top: 0px;
    text-decoration: none;
    background: #0237C2;
    border-radius: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 61px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  

  
  /* Extra styles for the cancel button */
  .cancelbtn {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
    justify-content: center;
    top: 0px;
    gap: 10px;
    background: #C40606;
    border-radius: 50px;  
    border-width: 1;
    border-color: #000;
    border-style: solid;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 61px;
    /* identical to box height */
    text-decoration: none;

    color: #FCF9FD;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}
.cancelbtn:hover, .cancelbtn:focus, .loginLBtn:focus, .loginLBtn:hover{
    background: white;
    color: #000;
}
  
  /* Center the image and position the close button */
  .container {
    padding: 16px;
  }

  
  span.psw {
    float: inline-end;
  }
  span .psw2{
    position: relative;
    display: inline;
  }

  .bottomLink{
    display: flex;
    position: relative;
    justify-content: space-between;

  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
    font-size:38px ;

  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media(max-width: 600px) {
    .passOne, .remOne{
        font-size: small;
    }
 
  }

