/* Task Organizer */

body{
    position: relative;
    padding: 0px;
    margin: 0px;
    
    
    /*background: linear-gradient(90deg, #FFFFFF 0%, #DF72F4 100%);*/
}


.backG{
position: absolute;
z-index: -1;
top: 0px;
right: 0px;
width: 100%;
left: 0px;
height: 100vh;
object-fit: contain;
background: url(/Image/edit.svg);
box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.5);
border-radius: 100px 0px 0px 0px;
}

.navbar{
    align-items: flex-end;
    flex: none;
    align-self: stretch;
    z-index: 1;
    top: 10px;
}

h3{
    font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
line-height: 25px;
/* identical to box height */

letter-spacing: 0.003em;

color: #000000;
}

.navSelect{
    font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.003em;

color: #FFFFFF;

}

.navSelect:hover{
    color: #4c0297;
    font-weight: 600;
}

.headingHero{
    position: absolute;

left: 10px;
left: -23px;
top: -5px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 110px;
/* or 130% */

letter-spacing: -0.02em;

color: #000000;
/* Inside auto layout */
flex: none;
flex-grow: 0;
z-index: 1;
}


.navbar-nav{
    margin-left: 420px;
    gap: 50px;
}

.closerImg{

position: relative;
top: 90px;
left: -86px;
line-height: 72px;
/* identical to box height */


}

.freeButton{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 30px;
gap: 10px;
position: relative;
left: -28px;

background: #FFFFFF;
box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.15);
border-radius: 100px;
border-color: grey;
/* Inside auto layout */

flex: none;
flex-grow: 0;
font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height */
top: 350px;
letter-spacing: 0.003em;
order: 1;
color: #000000;
}

.freeButton:hover{
    background-color: #000000;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}


.imgWords{
    display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 30px;
top: 0px;
right: 0px;
left: 368px;
height: auto;
width: 100vw;
position: absolute;
}

.subtitles{
    font-family: 'Epilogue';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 11px;
letter-spacing: 0.010em;
color: white;
position: relative;
right: 50px;
}

.subDiff{
    font-size: 26px;
}

.diffChar{
    font-size: 25px;
}



.learnMore{
    width: 9%;
    border-radius: 100px;
    position: relative;
    right: 30px;
}

.learnMore:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}


/* Breaking Points */

@media(min-width:1500px){
    .subtitlesLScreen{
        display: none;
    }
    .learnMore2{
        display: none;
    }
}


@media(max-width:1499.98px) {
  
    .subtitles{
        right: 90px;
    }
    .learnMore{
        right: 90px;
    }
    .learnMore2{
        display: none;
    }
    .subtitlesLScreen{
        display: none;
    }
  }

  @media(max-width:1399.98px) {
   
    .subtitles{
        right: 110px;
        top: 30px;
        text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.9);
    }
    .learnMore{
        right: 110px;
    }
    .learnMore2{
        display: none;
    }
    .subtitlesLScreen{
        display: none;
    }
  }

  @media(min-width:1200px) and (max-width:1699.98) {
    .closerImg{
        left: auto;
    }
    .headingHero{
        left: auto;
        position: relative;
    }
    .freeButton{
        left: auto;
    }
  }

  @media(min-width:1200px){
    .lScreen{
        display: none;
        
    }

  }
  @media(max-width:1199.98px) {
    .headingHero{
      position: absolute;
      font-size: 60px;
      font-weight: 800px;
      line-height: 150%;
      order: 1;
    }

    .subtitles{
        right: 110px;
        color: black;
        font-weight: bold;
        display: none;
    }
    .learnMore{
        display: none;
    }
   
    .diffChar{
        font-size: 33px;
    }
    .navSelect{
        color: black;
        top: 5px;
    }
    .backG{
        background: none;
        box-shadow: none;
    }
    .imgWords{
        display: none;
        order: 0;
    }
    .closerImg{
        display: none;
    }
    .navbar-nav{
        margin-left: 520px;
    }
    .manDesk{
        width: 564px;
        height: auto;
        


    }
    .lScreen{
        position: relative;
        display: flex;
flex-direction: row;
align-items: center;
    }
    .lScreenHero{
        font-family: 'Epilogue';
font-style: normal;
font-weight: 800;
font-size: 70px;
line-height: 95px;
/* or 136% */

text-align: right;
letter-spacing: 0.03em;

color: #1E1E1E;
    }
    .subtitlesLScreen{
        font-family: 'Epilogue';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 50px;
/* or 167% */

display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.03em;
background-color: pink;
color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
    }
    .boldRed{
        font-weight: 800;
font-size: 40px;
line-height: 52px;
/* or 130% */
text-align: right;


letter-spacing: 0.03em;

color: #D91F44;
    }
    .freeButtonLScreen{
        display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 5px 20px;
gap: 10px;

width: 150px;
height: 60px;

background: #000000;
border-radius: 50px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 23px;
/* identical to box height */

letter-spacing: 0.003em;

color: #FFFFFF;
    }
    .lScreenLearnB{
        width: 22%;
    }
}

