/* Task Organizer */

body{
    position: relative;
    padding: 0px;
    margin: 0px;
    
    
    /*background: linear-gradient(90deg, #FFFFFF 0%, #DF72F4 100%);*/
}


.backG{
position: absolute;
z-index: -1;
top: 0px;
right: 0px;
width: 101%;
left: 0px;
height: auto;
object-fit: contain;
}

.navbar{
    align-items: flex-end;
    flex: none;
    align-self: stretch;
    z-index: 1;
    top: 10px;
}

h3{
    font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
line-height: 25px;
/* identical to box height */

letter-spacing: 0.003em;

color: #000000;
}

.navSelect{
    font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.003em;

color: #FFFFFF;

}

.headingHero{
    position: absolute;


left: -23px;
top: -5px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 110px;
/* or 130% */

letter-spacing: -0.02em;

color: #000000;
/* Inside auto layout */
flex: none;
flex-grow: 0;
z-index: 1;
}


.navbar-nav{
    margin-left: 420px;
    gap: 50px;
}

.closerImg{

position: relative;
top: 90px;
left: -86px;
line-height: 72px;
/* identical to box height */


}

.freeButton{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 30px;
gap: 10px;
position: relative;
left: -28px;

background: #FFFFFF;
box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.15);
border-radius: 100px;
border-color: grey;
/* Inside auto layout */

flex: none;
flex-grow: 0;
font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height */
top: 350px;
letter-spacing: 0.003em;
order: 1;
color: #000000;
}



.imgWords{
    display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 30px;
top: 0px;
right: 0px;
left: 372px;
height: auto;
width: 1020px;
position: absolute;
}

.subtitles{
    font-family: 'Epilogue';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 11px;
letter-spacing: 0.010em;
color: white;
position: relative;
right: 50px;
}

.diffChar{
    font-size: 25px;
}



.learnMore{
    width: 18%;
    border-radius: 100px;
}

